@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-slide-left-fade {
    opacity: 0;
}

.animate-slide-up {
    opacity: 0;
}

html {
    overflow-y: scroll;
}

.body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@keyframes gradient-move {
    0% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.bg-animated-gradient {
    background: linear-gradient(
        270deg,
        rgba(200, 220, 255, 0.45),
        rgba(255, 240, 250, 0.45),
        rgba(220, 255, 250, 0.45),
        rgba(255, 245, 220, 0.45)
    );
    background-size: 800% 800%;
    animation: gradient-move 16s ease infinite;
}
